<h1>Add a New Project</h1>

<div id="new_project">
  <%= form_for :project, :url => projects_path, :action => :post, :html => { :class => "new_project_form" } do |p| %>
    <dl class="name">
      <dt><%= p.label :name, "Name:" %></dt>
      <dd><%= p.text_field :name, :placeholder => "Name" %></dd>
    </dl>
  
    <dl class="scm">
      <%= p.fields_for :source_control do |scm| %>
      <dt><%= scm.label :repository, "Repository path:" %></dt>
      <dd><%= scm.text_field :repository, :placeholder => "Repository path" %></dd>
  
      <dt><%= scm.label :source_control, "Type of source control:" %></dt>
      <dd><%= scm.select :source_control, %w(Git Subversion Mercurial Bazaar) %></dd>
      <% end %>

      <%= content_tag("button", "Create", :type => "submit") %></dt>
    </dl>
  <% end %>
</div>