<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CruiseControl.rb<%= @title ? " - " + @title : '' %></title>
  <%= tag :link, :rel => "stylesheet/less", :type => "text/css", :href => path_to_stylesheet('cruisecontrol.less') %>
  <%= stylesheet_link_tag 'site', :media => 'all' if Rails.root.join("public", "stylesheets", "site.css").exist? %>
  

  <% if @autorefresh %>
    <meta http-equiv="refresh" content="<%= Configuration.dashboard_refresh_interval.to_i %>">
    <meta http-equiv="cache-control" content="no-cache">
  <% end %>
  <% if @rss_feeds -%>
    <% @rss_feeds.sort.each do |title, url| -%>
      <%= auto_discovery_link_tag :rss, url_path(url), {:title => title} %>
    <% end -%>
  <% end -%>
  <%= javascript_include_tag "jquery-1.6.1" %>
  <%= javascript_include_tag "less-1.1.0" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

  <%= render :partial => '/layouts/header' %>

  <div id="content">
    <%= yield %>
  </div>

  <%= render :partial => '/layouts/footer' %>

</body>
</html>
